body {
    background: linear-gradient(90deg, #232526 10%, #414345 90%);
}
h1, h2 {
    text-align: center;
}

button {
    cursor: pointer;
}

.score {
    text-align: right;
}

.btnChoose {
    font-size: 22px;
    color: white;
    height: 60px;
    border: 0;
    width: 24%;
    background: #454545;
	margin: 0 2px;
}

.btnCorrect {
    background: #2ecc71 !important;
}

.btnWrong {
    background: #e74c3c !important;
}

.btnNext {
    height: 60px;
    width: 100%;
    background: #2ecc71;
    color: white;
    font-size: 22px;
    border: 0;
}

#quiz-wrapper {
    background-color: #f1f1f1;
    width: 600px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;
    font-family: sans-serif;
}